# Lists


## Creating , Indexing and Slicing lists

### Lists in python are good as comparision to arrays in other programming languages for two main reasons
### 1st They have no fixed size (meaning we don't have to specify how big a list will be)
### 2nd  They have no fixed type constraint

In [4]:
#List creation([],list)
s = "I am Harshad"
t = (1,2,3)
d = {1:"one",2:"two"}
se = {1,4,8}
ls = list(se)
ls1 = ["1",11, (1,2), {}, set()]
print(ls)

[8, 1, 4]

In [6]:
#Indexing (will give us the value at that position)
s = [(1,2,3), "string", {1:"one"}, 4, 4.3]
print(s[3])

4

In [8]:
#Slicing (will give a new list containing the required elements)
s = [(1,2,3), "string", {1:"one"}, 4, 4.3]
print(s[::-1])

[4.3, 4, {1: 'one'}, 'string', (1, 2, 3)]

In [14]:
#Difference between lists and strings
#Strings are immutable but lists are mutable
#Slicing and indexing string are same but are different in lists
s = "string"
ls = [1,2,3]
#print(s[0] == s[0:1])
print(ls[0] == ls[0:1])

False

In [15]:
#Concatination of lists (will give a new list containing the required elements)
ls1 = [1,2]
ls2 = ["a","b"]
print(ls1 + ls2)

[1, 2, 'a', 'b']

In [21]:
#Making a copy of existing list
#In comparision to immutable data types where assignment operator creates a freash copy of new item.
#lists just make new name of it
#check them with (== or is)
ls1 = ["a", "b", "c"]
ls = []
ls2 = ls + ls1
ls2[1] = "d"
print(ls1)

['a', 'b', 'c']

In [22]:
#Making the list double
ls1 = ["a", "b", "c"]
ls2 = ls1*2
print(ls2)

['a', 'b', 'c', 'a', 'b', 'c']

## Lists methods and Nesting of Lists

In [23]:
#Creating list with Range function
ls1 = list(range(10))
print(ls1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#len(Just gives us the length of the list)
ls1 = list(range(10))
print(len(ls1))

10

In [25]:
#Append(Just adds a value to the end of the list in place)
ls1 = list(range(10))
ls1.append("a")
print(ls1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a']

In [26]:
#Extend(Takes list as an argument and add all the values to the existing list in place)
ls1 = ["a", "b", "c"]
ls1.extend(["k","l"])
print(ls1)

['a', 'b', 'c', 'k', 'l']

In [28]:
#Remove(Just removes the first occurance of the value specified from the list and gives error if not exists)
ls1 = ["a", "b", "c", "a"]
ls1.remove("k")
print(ls1)

ValueError: list.remove(x): x not in list

In [30]:
#PoP(Just removes the last value from the list but also takes indexes)
ls1 = ["a", "b", "c", "a"]
ls1.pop(2)
print(ls1)

['a', 'b', 'a']

In [31]:
#Reverse(Just reverse the list in place)
ls1 = ["a", "b", "c", "a"]
ls1.reverse()
print(ls1)

['a', 'c', 'b', 'a']

In [32]:
#Sort(Just sort the list in ascending order)
ls1 = ["a", "b", "c", "a"]
ls1.sort()
print(ls1)

['a', 'a', 'b', 'c']

In [27]:
#Index(will give us the index of perticular value from left side)
ls1 = ["a", "b", "c", "a"]
ls1.index("a")

0

In [34]:
#Membership of element in list by (in)
ls1 = ["a", "b", "c", "a"]
print("k" in ls1)

False

In [35]:
#Nesting of Lists
ls1 = ["a",[1,2,["k","j"]], "c", "a"]
print(ls1[1][2][1])

j

In [ ]:
# user defined lists and List comprihension will be covered after you will get aware of looping

# Dictionaries


## Creating dictionaries and Accessing objects from it

In [37]:
#creating dictionaries ({},dict) (keys in the dict must be of immutable data type and value can be anything)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
my_dict1 = dict([("virat",85),("rohit",100)])
print(my_dict1)

{'virat': 85, 'rohit': 100}

In [41]:
#Accessing objects ([] and get method)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
#print(my_dict["rohi"])
print(my_dict.get("rohi"))

None

In [42]:
#Adding and Updating items
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
my_dict["raina"] = 46 #adding new item in dict
my_dict["virat"] = 90 #upaditing an existing item
print(my_dict)

{'virat': 90, 'rohit': 100, 'dhavan': 90, 'raina': 46}

## Dictionaries methods

In [4]:
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}

[85, 100, 90]

In [43]:
#Clear (Removes all the elements from the dictionary)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
my_dict.clear()
print(my_dict)

{}

In [44]:
#FromKeys(Returns a new dictionary with keys from seq and value equal to v (defaults to None))
my_dict = {}
x = ("virat", "dhoni")
y = 20
new_dict = my_dict.fromkeys(x,y)
print(new_dict)

{'virat': 20, 'dhoni': 20}

In [45]:
#Items(Return a new object of the dictionary's items in (key, value) format.)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
my_dict.items()

dict_items([('virat', 85), ('rohit', 100), ('dhavan', 90)])

In [46]:
#Keys(Returns a list containing the dictionary's keys)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
my_dict.keys()

dict_keys(['virat', 'rohit', 'dhavan'])

In [47]:
#Values(Returns a list of all the values in the dictionary)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
my_dict.values()

dict_values([85, 100, 90])

In [48]:
#pop(Removes the element with the specified key)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
my_dict.pop("virat")
print(my_dict)

{'rohit': 100, 'dhavan': 90}

In [49]:
#len(Return the length (the number of items) in the dictionary)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
len(my_dict)

3

In [51]:
#all(Return True if all keys of the dictionary are True (or if the dictionary is empty))
my_dict = {0 : 0, "rohit": 100, "dhavan": 90}
print(all(my_dict))

False

In [52]:
#sorted(Return a new sorted list of keys in the dictionary.)
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}
sorted(my_dict)

['dhavan', 'rohit', 'virat']

In [53]:
#Membership of keys in dict
my_dict = {"virat": 85, "rohit": 100, "dhavan": 90}

print("virat" in my_dict)

True

### Nesting of Dictionaries

In [54]:
#Nesting
my_dict = {"virat": {"r":56,"v":{1:"one"}}, "rohit": 100, "dhavan": 90}
print(my_dict["virat"]["v"][1])

one

# Tuples


## Creating , Indexing and Slicing of Tuples

In [55]:
#Creating
#Tuple packing
#Tuple Unpacking
my_tup = (4, 5, 6)
(x, y, z) = my_tup
print(x,y,z)

4 5 6

In [60]:
#Indexing
#Immutablity of tuple
#Deleting Item from tuple not possible but you can delete entire tuple(del tuple)
my_tup = (4, 5, 6)
#my_tup[1] = 7
del my_tup
print(my_tup)

NameError: name 'my_tup' is not defined

In [61]:
#Slicing
my_tup = (4, 5, 6)
my_tup[1:]
print(my_tup[1:])

(5, 6)

In [62]:
# Membership of objects in tuple
my_tup = (4, 5, 6)
print(4 in my_tup)

True

In [63]:
#How to change items in tuple
my_tup = (1,2,3)
my_list = list(my_tup)
my_list[1] = 4
my_tup = tuple(my_list)
print(my_tup)

(1, 4, 3)

## Tuple Methods

In [64]:
#Count
my_tup = (1,2,3,2)
print(my_tup.count(2))

2

In [65]:
#Index
my_tup = (1,2,3)
print(my_tup.index(2))

1

# Sets

## Creating sets

In [ ]:
#creating({}, set()) (SETs cannot contain mutable data types such as lists and dictionaries)
#Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.
my_set = {1,2,3}
my_set = set([1,23])

## Set Methods

In [67]:
#add(for adding an item into set)
my_set = {1,2,3}
my_set.add("a")
print(my_set)

{1, 2, 3, 'a'}

In [68]:
#update(for adding more thent one item into set)
my_set = {1,2,3}
my_set.update([5,6])
print(my_set)

{1, 2, 3, 5, 6}

In [71]:
#remove(will remove the perticular item from set but gives error if item not present)
my_set = {1,2,3}
my_set.remove(3)
print(my_set)

{1, 2}

In [75]:
#discard(will remove the perticular item from set but doesn't give err if not present)
my_set = {1,2,3}
my_set.discard(3)
print(my_set)

{1, 2}

In [ ]:
#clear(to remove all the elements from set)

In [76]:
#union(|)
a = {1,2,3}
b = {2,7,8}
print(a|b)

{1, 2, 3, 7, 8}

In [77]:
#intersection(&)
a = {1,2,3}
b = {2,7,8}
print(a&b)

{2}

In [78]:
#difference(-)
a = {1,2,3}
b = {2,7,8}
print(a-b)

{1, 3}

In [79]:
#symmetric_difference(^)
a = {1,2,3}
b = {2,7,8}
print(a^b)

{1, 3, 7, 8}

In [ ]:
n = int(input())
for i in range(n):